.ganga{
    background-color: rgb(53, 150, 53);
}
table{
    border-collapse: collapse;
    border-color:white;
    width: 100%;
    
    
    

}
#man{
    background-color: rgb(217, 216, 216);
}
table,th,td{
    border: none;
}